@import "tailwindcss";

html, body {
  height: 100dvh;
}

/*
* Always ensure the space above the fold is filled.
*/
#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}



@layer utilities {
  .animate-slideUp {
    animation: slideUp 0.3s ease-out;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}
