@import "tailwindcss";

html, body {
  height: 100dvh;
}

/*
 * Reserve space for the scrollbar, preventing unwanted layout changes
 *
 * This is a relatively new feature, but it's been supported in all major browsers since December 2024.
 * It's reliable enough to use confidently. Learn more about 'scrollbar-gutter': 
 * https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter
 */
html {
  scrollbar-gutter: auto;
}

/*
* Always ensure the space above the fold is filled.
*/
#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}



@layer utilities {
  .animate-slideUp {
    animation: slideUp 0.3s ease-out;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
}
